{# src/Sdz/BlogBundle/Ressources/views/Blog/add.html.twig #}

{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Adding an article{% endblock %}

{% block sdzblog_body %}

    <h2>Adding an article</h2>

    {% include "SdzBlogBundle:Blog:form.html.twig" %}

    <p>
        You're adding a new article
    </p>
{% endblock %}

