{# src/Sdz/BlogBundle/Ressources/views/Blog/add.html.twig #}

{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Adding an article{% endblock %}

{% block sdzblog_body %}

    <h2>Adding an article</h2>

    {% include "SdzBlogBundle:Blog:form.html.twig" %}

    <p>
        You're adding a new article
    </p>

    <p>
        {# <a href="{{ path('sdzblog_see', {'id': article.id}) }}" class='btn'>
            <i class="icon-chevron-left"></i>
            Back to the article #}
        </a>
    </p>

{% endblock %}

