{# src/Sdz/BlogBundle/Ressources/views/Default/index.html.twig #}

<html>
  <head>
    <title>deleting page {{ article.id }}</title>
  </head>
  <body>
    <h1>deleting article: {{ article.title|raw }}</h1>
  </body>
</html>
