{# src/SdzBundle/Ressources/views/Blog/form.html.twig #}

<h3>Form of the article</h3>

<div class="well">
  <form method="POST" {{ form_enctype(form) }}>
      {{ form_widget(form) }}
      <input class="btn btn-primary" type="submit" />
  </form>
</div>
