
{# src/Sdz/BlogBundle/Ressources/views/Default/index.html.twig #}

<html>
  <head>
    <title>Bye bye bye bye</title>
  </head>
  <body>
    <h1>Bye world!</h1>
    <p>
      Bye bye bye bye bye bye bye bye bye bye bye bye bye bye bye bye bye bye bye bye bye bye bye bye bye
      Il signifie énormément, car cela veut dire que vous avez réussi à exécuter le programme pour accomplir
      une tâche simple.
    </p>
  </body>
</html>
