{# src/Sdz/BlogBundle/Ressources/views/Blog/menu.html.twig #}

<h3>Last articles</h3>

<ul class="nav nav-pills nav-stacked">
{% for article in article_list %}
    <li><a href="{{ path('sdzblog_see', {'id': article.id}) }}">{{ article.title }}</a></li>
{% endfor %}
</ul>
