{# src/Sdz/BlogBundle/Ressources/views/Blog/modify.html.twig #}

{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Modifying an article{% endblock %}

{% block sdzblog_body %}

    <h2>Modify an article</h2>

    {% include "SdzBlogBundle:Blog:form.html.twig" %}

    <p>
        Your are editing an existing article,
        it shouldn't be edited too much in order
        to avoid losting members.
    </p>

    <p>
        <a href="{{ path('sdzblog_see', {'id': article.id}) }}" class='btn'>
            <i class="icon-chevron-left"></i>
            Back to the article
        </a>
    </p>

{% endblock %}

