{# src/Sdz/BlogBundle/Ressources/views/Default/index.html.twig #}

<html>
  <head>
    <title>Voir page {{ id }}</title>
  </head>
  <body>
    <h1>Reading article: {{ id }}</h1>
    <p>
      Le Hello World est un grand classique en programmation.
      Il signifie énormément, car cela veut dire que vous avez réussi à exécuter le programme pour accomplir
      une tâche simple.
    </p>
  </body>
</html>
